<phpunit bootstrap="./TestHelper.php" colors="true">
    <testsuite name="Unit test suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../library/</directory>
            <exclude>
                <directory>../library/ZendFramework2</directory>
                <directory suffix=".phtml">../application/</directory>
                <file>../application/Bootstrap.php</file>
                <file>../application/init.php</file>
                <file>../application/cli.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true" lowerUpperBound="50"
            highLowerBound="80" />
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>
</phpunit>
